---
applications:
- name: document-download-api

  memory: 512M

  instances: 2

  buildpacks:
    - python_buildpack

  {% set hostname={
    "preview": "documents.notify.works",
    "staging": "documents.staging-notify.works",
    "production": "documents.service.gov.uk"
  }[environment] %}

  routes:
    - route: document-download-api-{{ environment }}.cloudapps.digital
    - route: {{ hostname }}/services
    {% if environment == "preview" %}
    #- route: download.{{ hostname }}
    {% endif %}

  services:
    - logit-ssl-syslog-drain
    - notify-redis

  env:
    FLASK_APP: application.py
    NOTIFY_ENVIRONMENT: {{ environment }}

    FRONTEND_HOSTNAME: {{ hostname }}

    NOTIFY_APP_NAME: document-download-api
    NOTIFY_LOG_PATH: /home/vcap/logs/app.log

    AUTH_TOKENS: {{ AUTH_TOKENS }}

    ANTIVIRUS_API_HOST: {{ ANTIVIRUS_API_HOST }}
    ANTIVIRUS_API_KEY: {{ ANTIVIRUS_API_KEY }}

    AWS_ACCESS_KEY_ID: {{ DOCUMENT_DOWNLOAD_AWS_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY: {{ DOCUMENT_DOWNLOAD_AWS_SECRET_ACCESS_KEY }}

    SECRET_KEY: {{ DOCUMENT_DOWNLOAD_SECRET_KEY_API }}

    SENTRY_ENABLED: '{{ DOCUMENT_DOWNLOAD_API_SENTRY_ENABLED }}'
    SENTRY_DSN: '{{ DOCUMENT_DOWNLOAD_API_SENTRY_DSN }}'
    SENTRY_ERRORS_SAMPLE_RATE: '{{ DOCUMENT_DOWNLOAD_API_SENTRY_ERRORS_SAMPLE_RATE }}'
    SENTRY_TRACES_SAMPLE_RATE: '{{ DOCUMENT_DOWNLOAD_API_SENTRY_TRACES_SAMPLE_RATE }}'
