---
applications:
- name: document-download-api-{{environment}}

  instances: 1
  memory: 512M

  buildpack: python_buildpack
  command: unset GUNICORN_CMD_ARGS; scripts/run_app_paas.sh gunicorn -c gunicorn_config.py application

  {% set hostname={
    "preview": "download.notify.works",
    "staging": "download.staging-notify.works",
    "production": "download.notifications.service.gov.uk"
  }[environment] %}

  routes:
    - route: document-download-api-{{ environment }}.cloudapps.digital
    - route: {{ hostname }}/services

  services:
    - notify-prometheus

  env:
    FLASK_APP: application.py
    FLASK_ENV: {{ environment }}

    FRONTEND_HOSTNAME: {{ hostname }}

    NOTIFY_APP_NAME: document-download-api
    NOTIFY_LOG_PATH: /home/vcap/logs/app.log

    AUTH_TOKENS: {{ AUTH_TOKENS }}

    ANTIVIRUS_API_HOST: {{ ANTIVIRUS_API_HOST }}
    ANTIVIRUS_API_KEY: {{ ANTIVIRUS_API_KEY }}

    AWS_ACCESS_KEY_ID: {{ AWS_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY: {{ AWS_SECRET_ACCESS_KEY }}
