# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

Flask==3.0.0
werkzeug==3.0.3

python-magic==0.4.25
rsa>=4.3

gunicorn[eventlet]>=21.2.0

gds-metrics==0.2.4

argon2-cffi==21.3.0

notifications-utils @ git+https://github.com/alphagov/notifications-utils.git@79.0.0
sentry_sdk[flask]>=1.0.0,<2.0.0
