-r requirements.txt

flake8==5.0.4  # Also update `.pre-commit-config.yaml` if this changes
hypothesis==6.54.4
isort==5.12.0  # Also update `.pre-commit-config.yaml` if this changes
black==22.8.0  # Also update `.pre-commit-config.yaml` if this changes

pytest==7.1.1
pytest-env==0.6.2
pytest-mock==3.7.0

requests-mock==1.9.3

jinja2-cli[yaml]==0.8.2

freezegun==1.2.2
