-r requirements.txt

black==22.8.0  # Also update `.pre-commit-config.yaml` if this changes
ruff==0.0.261  # Also update `.pre-commit-config.yaml` if this changes

hypothesis==6.54.4
pytest==7.1.1
pytest-env==0.6.2
pytest-mock==3.7.0

requests-mock==1.9.3

jinja2-cli[yaml]==0.8.2

freezegun==1.2.2
