# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements.in

python-magic==0.4.25
rsa>=4.3

gds-metrics==0.2.4

argon2-cffi==21.3.0

# Run `make bump-utils` to update to the latest version
notifications-utils @ git+https://github.com/alphagov/notifications-utils.git@103.0.0

sentry-sdk[flask]==1.45.1
