# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

Flask==1.0.2
Flask-Env==1.0.1

boto3==1.7.58

python-magic==0.4.15

git+https://github.com/alphagov/notifications-utils.git@29.2.0#egg=notifications-utils==29.2.0

# PaaS

gunicorn==19.8.1
eventlet==0.23.0

awscli-cwlogs>=1.4,<1.5

gds-metrics==0.1.1
