# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements.in

python-magic==0.4.25
rsa>=4.3

gds-metrics==0.2.4

argon2-cffi==21.3.0

notifications-utils @ git+https://github.com/alphagov/notifications-utils.git@82.1.1

sentry_sdk[flask]>=1.0.0,<2.0.0
